.shareInput {
    border: none;
    width: 80%;
}
.shareInput::placeholder{
    color: #495057;
}

.shareInput:focus {
    outline: none;
}

.shareBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shareOptions{
    display: flex;
    margin-left: 20px;
}

.shareOption{
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
}

.shareIcon{
    font-size: 18px;
    margin-right: 3px;
}

.shareOptionText{
    font-size: 14px;
    font-weight: 500;
}

.shareButton{
    border: none;
    padding: 7px;
    border-radius: 5px;
    background-color: #007bff;
    font-weight: 500;
    margin-right: 20px;
    cursor: pointer;
    color: white;
}